*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
}

html,
body,
#root {
  height: 100%;
  position: relative;
}
