button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn {
  &--notificationLink {
    color: $clr-notifcations;
    font-size: rem(12);
    line-height: 1.265;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &--empty {
    &:hover {
      text-decoration: underline;
    }
  }
  &--notification {
    display: inline-block;
    font-weight: 700;
    border-radius: 100px;
    font-size: rem(10);
    padding: rem(6) rem(12);
    color: $clr-dark--900;
    background: $clr-notifcations;
    cursor: default;
  }

  &--block {
    color: $clr-white;
    font-weight: 700;
    padding: rem(14) rem(24);
    background: $clr-blue--light;
    border-radius: 8px;
    transition: $transition--quick;
    &:hover {
      background: $clr-blue--dark;
    }

    &:hover &-arrow {
      fill: white;
    }

    &-outline {
      @extend .btn--block;
      color: $clr-blue--light;
      background: none;
      outline: 1px solid $clr-blue--light;
      &:hover {
        background: $clr-blue--light;
        color: $clr-white;
      }
    }

    &--blue {
      @extend .btn--block;
      color: $clr-white;
      background: $clr-blue--light;
      &:hover {
        background: $clr-blue--dark;
      }
    }

    &--darkBlue {
      @extend .btn--block;
      background: $clr-blue--dark;
      &:hover {
        background: $clr-blue--light;
      }
    }

    &--darkGrey {
      @extend .btn--block;
      background: $clr-dark--900;
      &:hover {
        background: $clr-dark--700;
      }
    }
  }

  &--small {
    font-size: rem(14);
    line-height: 1.265;
    padding: rem(8) rem(20);
  }

  &--wide {
    padding: rem(14) rem(64);
  }
}
