@import "../../../assets/styles/abstracts/mixins";
@import "../../../assets/styles/abstracts/colours";
.card {
  &:not(:last-child) {
    padding-bottom: rem(50);
    @media screen and (max-width: 1300px) {
      padding-bottom: rem(100);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &:nth-child(even) {
    .content {
      order: 1;
      padding-left: rem(130);
      @media screen and (max-width: 1300px) {
        padding-left: 0;
      }
    }

    .image {
      order: 2;
    }
  }
}

.content {
  order: 2;
  width: 50%;
  padding-left: rem(100);
  &__cta {
    margin-top: rem(35);
  }
  &__header {
    position: relative;
    margin-bottom: rem(25);
  }

  &__copy {
    max-width: rem(359);
  }
}

.counter {
  position: absolute;
  left: 0;
  top: -43px;
}

.image {
  order: 1;
  width: 50%;
  max-height: rem(460);
  @media screen and (max-width: 1300px) {
    max-height: rem(250);
  }
  img {
    max-height: rem(460);
    @media screen and (max-width: 1300px) {
      max-height: rem(250);
    }
  }
}
