.container {
  &--main {
    margin: 0 auto;
    padding: 0 rem(120);
    max-width: rem(1380);
  }

  &--max {
    margin: 0 auto;
    padding: 0 rem(45);
  }

  &--left {
    padding-left: calc(50vw - rem(570));
  }
}
