$clr-blue--deep: #000095;
$clr--blue--deepSat: #9797ff;
$clr-blue--dark: #2a4789;
$clr-blue: #3b8ef9;
$clr-blue--light: #5a6488;

$clr-pink: #f93b84;

$clr-grey: #f1f5fb;
$clr-white: #ffffff;

.clr-blue--dark {
  color: $clr-blue--dark;
}

.clr-blue--light {
  color: $clr-blue--light;
}

.clr-grey {
  color: $clr-grey;
}

.clr-pink {
  color: $clr-pink;
}

.clr-white {
  color: $clr-white;
}

.clr-blue--dark--bg {
  background-color: $clr-blue--dark;
}

.clr-blue--light--bg {
  background-color: $clr-blue--light;
}

.clr-grey--bg {
  background-color: $clr-grey;
}

.clr-pink--bg {
  background-color: $clr-pink;
}
