@import "../../../assets/styles/abstracts/mixins";
@import "../../../assets/styles/abstracts/colours";

.navigation {
  padding-top: rem(60);
  position: relative;
  z-index: 1;
  @media screen and (max-width: 940px) {
    background: $clr-purple--deep;
    position: fixed;
    width: 100%;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    a {
      color: $clr-white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:not(:last-child) {
        margin-right: rem(44);
      }
    }
  }
}

.links {
  @media screen and (max-width: 940px) {
    display: none;
  }
}

.cta {
  @media screen and (max-width: 940px) {
    display: none;
  }
}

.logo {
  padding: rem(27) 0;
  img {
    width: 100%;
    height: auto;
  }
}

.hamburger {
  display: block;
  @media screen and (min-width: 940px) {
    display: none;
  }
  div:nth-child(1) {
    width: rem(45);
    height: rem(4);
    background: $clr-white;
    margin-bottom: rem(8);
  }
  div:nth-child(2) {
    width: rem(45);
    height: rem(4);
    background: $clr-white;
  }
  &:hover {
    cursor: pointer;
  }
}
